---
import content from "../data/content.json";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import ProblemStatement from "../components/ProblemStatement.astro";
import Services from "../components/Services.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Security from "../components/Security.astro";
import ToolsBar from "../components/ToolsBar.astro";
import About from "../components/About.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
---

<Layout title={content.business.pageTitle} description={content.business.metaDescription}>
  <Nav />
  <main>
    <Hero />
    <ProblemStatement />
    <Services />
    <HowItWorks />
    <Security />
    <ToolsBar />
    <About />
    <ContactForm />
  </main>
  <Footer />
</Layout>
